/* :root{
  --primary-color:#2563EB;
  --accent-color:#FFC107;
  --background-color:#F8F9FA;
  --text-color:#212529;
  --white:#FFFFFF;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background-color:var(--background-color);
  color:var(--text-color);
}

h1,h2,h3,h4,h5,h6{
  font-family:'Poppins',sans-serif;
} */

@import './variables.css';
@import './typography.css';
@import './utilities.css';

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background:var(--background-color);
    color:var(--text-color);
}